<div class="container mt-4">
    <h2>Create Book</h2>
    <form (ngSubmit)="saveBook()">
      <div class="mb-3">
        <label>Title</label>
        <input [(ngModel)]="book.title" name="title" class="form-control" required>
      </div>
      <div class="mb-3">
        <label>Author</label>
        <input [(ngModel)]="book.author" name="author" class="form-control" required>
      </div>
      <div class="mb-3">
        <label>Genre</label>
        <input [(ngModel)]="book.genre" name="genre" class="form-control" required>
      </div>
      <div class="mb-3">
        <label>Published Year</label>
        <input [(ngModel)]="book.publishedYear" name="publishedYear" class="form-control" type="number" required>
      </div>
      <button class="btn btn-success">Save</button>
    </form>
  </div>
  