<div class="container">
  <h2>Book List</h2>
  <a routerLink="/create" class="btn btn-primary mb-3">Add New Book</a>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Published Year</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.genre }}</td>
        <td>{{ book.publishedYear }}</td>
        <td>
          <a [routerLink]="['/edit', book.id]" class="btn btn-warning btn-sm">Edit</a>
          <button (click)="deleteBook(book.id)" class="btn btn-danger btn-sm">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
